@import "../variables.scss";
@import "../_functions.scss";
@import "../_mixins.scss";

.modal {
  overflow-y: hidden;
  width: 80rem;
  height: 50rem;

  .loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .modal-close {
    position: absolute;
    top: 0;
    right: 0;

    & > button {
      font-size: 1rem;
      background-color: #ffffff;
      padding: 0.3rem;
      border-radius: 100%;
      border: 0;
    }

    & > :hover {
      background-color: rgb(245, 245, 245);
    }
  }

  & > .content {
    height: 100%;
    width: 100%;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "box-main box-main"
      "box-1 box-2"
      "box-1 box-2";

    & > .box-main {
      padding: 0.1rem;
      overflow-y: hidden;
      overflow-x: hidden;
      grid-area: box-main;
      display: grid;
      column-gap: 1rem;
      row-gap: 1rem;
      grid-template-columns: 2fr 4fr;
      grid-template-rows: 4fr 2fr;
      grid-template-areas:
        "box-main-1 box-main-2 "
        "box-main-1 box-main-2 "
        "box-main-1 box-main-2 "
        "box-main-1 box-main-3 ";
      & > .box-main-1 {
        box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        grid-area: box-main-1;
      }
      & > .box-main-2 {
        box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        border-radius: 1rem;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        grid-area: box-main-2;
      }
      & > .box-main-3 {
        box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
        border-radius: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        border-radius: 1rem;
        grid-area: box-main-3;
      }
    }
    & > .box-1 {
      box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      grid-area: box-1;
    }
    & > .box-2 {
      box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 1px 3px 12px -5px rgba(0, 0, 0, 0.24);
      border-radius: 1rem;
      padding: 1rem;
      overflow-y: auto;
      overflow-x: auto;
      grid-area: box-2;
      > div {
        height: 90%;
        width: 100%;
      }
    }
  }

  & > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}

@media screen and (max-width: 1370px) {
  .modal {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .modal {
    width: 500px;
    & > .content {
      overflow-y: auto;
      grid-template-columns: 6fr;
      grid-template-areas:
        "box-main"
        "box-1"
        "box-2";
      & > .box-main {
        height: 25rem;
      }
      & > .box-1 {
        height: 25rem;
        display: flex;
        justify-content: space-between;
      }
      & > .box-2 {
        height: 10rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 320px;

    & > .content {
      & > .box-main {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    }
  }
}
