@import "../variables.scss";
@import "../_functions.scss";
@import "../_mixins.scss";

@keyframes popup-animation {
  // 0% {
  //   transform: scale(1) translateY(0px);
  //   opacity: 0;
  //   box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  // }
  // 50% {
  //   transform: scale(0.96) translateY(10px);
  //   opacity: 0;
  //   box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  // }
  // 100% {
  //   transform: scale(1) translateY(0px);
  //   opacity: 1;
  //   box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  // }

  0% {
    transform: scale(0.00);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.50);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.00);
  }
}
.popup-content {
  animation: popup-animation 0.2s;}

.modal {
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 1200px;
    padding: 30px;
    border-radius: 30px;

      & > .content {
      height: 100%;
      width: 100%;
      display: grid;
      row-gap: 10px;
      column-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      'box-main box-main';  
  
        & > div {
          // background-color: #ffffff;
          box-shadow: 1px 3px 12px -5px rgba(0,0,0,0.24);
          -webkit-box-shadow: 1px 3px 12px -5px rgba(0,0,0,0.24);
          -moz-box-shadow: 1px 3px 12px -5px rgba(0,0,0,0.24);
          border-radius: 30px;
          padding: 10px;
        }
        & > .box-main{grid-area:box-main;}
      }

      & > .close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
      }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 800px; 
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 425px; 
  }
}

@media screen and (max-width: 425px) {
  .modal {
    width: 300px; 
  }
}

