@import "../variables.scss";
@import "../_functions.scss";
@import "../_mixins.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  transition: $transition;
  backdrop-filter: blur(15px);
}
