.table-wrapper {
  @media screen and (max-width: 1023px) {
    overflow-x: auto;
    flex-grow: 1;
  }
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  position: sticky;
  z-index: 3;
  top: 0;
  & > th {
    position: sticky;
    padding: 0.5rem;
    z-index: 2;
    top: 0;
  }

  & > :first-child {
    display: flex;
    align-items: center;
    justify-self: center;
    left: 0;
    z-index: 3;

    & > :first-child {
      width: 20px;
    }

    & > :nth-child(2) {
      flex-grow: 1;
    }
  }
}

td {
  text-align: center;
}

tbody tr > :first-child {
  position: sticky;
  z-index: 1;
  left: 0;
  display: flex;

  & > :first-child {
    width: 20px;
  }

  & > :nth-child(2) {
    flex-grow: 1;
  }
}
