@import "../variables.scss";
@import "../_functions.scss";
@import "../_mixins.scss";

$positive-color: green;
$negaitve-color: red;

.my-number{
  color: $positive-color;

  &.negative{
    color: $negaitve-color;
  }
}

.homepage {
  background-color: rgb(249, 245, 220);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-crypto {
  display: flex;
  height: 550px;
  width: 100%;
  background-color: rgb(121, 234, 121);
  margin: 20px 0 0 0;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 17px -3px rgb(26, 251, 26);

  & > div {
    background-color: aliceblue;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    transition: 0.6s;

    &:hover {
      transform: scale(0.95);
      background-color:rgb(243, 224, 80)
      
    }

  }
}

@keyframes roll {
  from {
    left: 0px;
  }
  to {
    left: 50vw;
  }
}

.crypto-search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;

  input {
    border: 0;
    background-color: aliceblue;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 0 0 0 20px;
    margin: 20px;
    font-size: 20px;
  }
}

.crypto-list {
  padding: 10px;
  // background-color: white;
  height: auto;
  width: 1440px;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  &-types {
    width: 99%;
    height: 70px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 13px -3px rgb(0, 0, 0);
  }
}

.table-head {
  background-color: green;
}

.cell{
  display:flex;

  &-images{
    height:50px;
    width:50px;
    margin: 10px;
  }

  &-text{
    justify-content: center;
    align-items: center;
  }
}

.d-flex{
  display:flex;
}

  
.cell-images{
    display:flex;
    justify-content: center;
    align-items: center;
    

  }

.best-coin{
  flex-direction: column;
  align-items: center;
  

  img{
    width: 150px;
    height: 150px;
  }

  &-image{
    margin: 10px;
  }

  &-price{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 223, 223);
    border-radius: 5px;
    height: 80px;
    width: 200px;
    font-size: 20px;
    margin: 5px;

    p{
      margin: 0;
    }
  }

  &-24HL{
    // background-color: black;
    width: 200px;
    height: 100px;
    margin: 10px;

    &-high{
      background-color: rgb(148, 241, 93);
      width:200px;
      height:50px;
      border-radius: 20px 20px 0 0;
      justify-content: center;
      align-items: center;
    }

    &-low{
      background-color: rgb(244, 51, 51);
      width:200px;
      height:50px;
      border-radius: 0 0 20px 20px;
      justify-content: center;
      align-items: center;
    }
  }

  &-mc{
    background-color: rgb(232, 226, 30);
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
  }
}