@import "../variables.scss";
@import "../_functions.scss";
@import "../_mixins.scss";

.login {
  &-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 40px;
    border-radius: 10px;
    @include box-shadow;
    transform: translateY(25%);
  }

  &-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20 px;
    text-align: center;
  }
}
